:root {
  --big-border: 6px solid black;
  --sml-border: 2px solid black;
  --red-color: #eb4034;
  --active: #36d97a;
  --blue: #2980b9;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 700px;
}

.btn-div {
  margin: 20px 0;
}

.btn {
  background-color: #fff; /* Green */
  border: 2px solid;
  border-radius: 4px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.new-board {
  margin-right: 10px;
  border-color: var(--blue);
}

.new-board:hover {
  background-color: var(--blue); /* Green */
  color: #fff;
}

.solve {
  border-color: var(--red-color);
}

.solve:hover {
  background-color: var(--red-color); /* Green */
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.board-size {
  height: 700px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}
.div7 {
  grid-area: 3 / 1 / 4 / 2;
}
.div8 {
  grid-area: 3 / 2 / 4 / 3;
}
.div9 {
  grid-area: 3 / 3 / 4 / 4;
}

.cell {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell-highlighted {
  background-color: var(--active);
}

.cell-error {
  background-color: var(--red-color);
}

.big-border {
  border: var(--big-border);
}

.big-border-bottom {
  border-bottom: var(--big-border);
}

.big-border-top {
  border-top: var(--big-border);
}

.big-border-right {
  border-right: var(--big-border);
}

.big-border-left {
  border-left: var(--big-border);
}

.sml-border-bottom {
  border-bottom: var(--sml-border);
}

.sml-border-top {
  border-top: var(--sml-border);
}

.sml-border-right {
  border-right: var(--sml-border);
}

.sml-border-left {
  border-left: var(--sml-border);
}

.msg-div {
  display: flex;
  justify-content: center;
}

.error-msg {
  color: var(--red-color);
}
