:root {
  --blue: #357edd;
  --red: #ff4136;
  --green: #19a974;
  --light-red: #ff725c;
  --near-white: #eeeeee;
}

#container {
  max-width: 600px;
}

.new-btn:hover {
  color: white;
  background-color: var(--blue);
  border-color: var(--blue);
}

.solve-btn:hover {
  color: white;
  background-color: var(--red);
  border-color: var(--red);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}
.div7 {
  grid-area: 3 / 1 / 4 / 2;
}
.div8 {
  grid-area: 3 / 2 / 4 / 3;
}
.div9 {
  grid-area: 3 / 3 / 4 / 4;
}

.board-height {
  height: 600px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-error {
  background-color: var(--light-red);
}

.cell-empty {
  background-color: var(--near-white);
}

.cell-highlighted {
  background-color: var(--green);
}
